.footer {
    max-width: 880px;
    width: 100%;
    padding-top: 67px;
    padding-bottom: 60px;
    margin: auto;
}

.footer__copywrite {
    color: #545454;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 200px;
        margin-left: 19px;
        margin-right: 0;
        padding-top: 48px;
        padding-bottom: 36px;
    }

    .footer__copywrite {
        font-size: 14px;
    }
}