.model {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  display: none;
  justify-content: center;
  align-items: center;
}

.model__heading {
  color: #000;
  width: 330px;
  height: 23px;
  font-size: 24px;
  margin: 0 0 54px;
  line-height: normal;
  font-weight: 900;
  font-family: "inter", Arial, sans-serif;
}

.model_opened {
  display: flex;
}

.model__container {
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 36px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 430px;
  height: 330px;
}

.model__close {
  color: #fff;
  position: absolute;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/close\ Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.model__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.model__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  margin-bottom: 30px;
  width: 100%;
  height: 14px;
  font-family: "inter", Arial, sans-serif;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
}

.model__input:last-child {
  margin-bottom: 45px;
}

.model__form {
  width: 358px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.model__button {
  background-color: #000;
  color: #fff;
  height: 51px;
  width: 358px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-family: "inter", Arial, sans-serif;
  padding: 0;
}

.model__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 630px) {

  .model__heading{
    font-size: 18px;
    width: 238px;
    line-height: 22px;
    margin: 0 0 76px;
  }

  .model__container {
    padding: 25px 22px;
    width: 282px;
    height: 322px;
  }

  .model__button {
    width: 238px;
    height: 46px;
    bottom: 25px;
  }

  .model__form {
    display: flex;
    justify-content: center;
    max-width: 238px;
    margin: auto;
  }

  .model__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 25px);
    left: calc(100% - 30px);
  }
}
